* {
    font-family: noto sans thai, Arial, sans-serif;
}

body {
    background-color: #F1F0F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: url("https://donklanakin.github.io/quizie-quizie/public/images/card-fairy-goddess.svg");
    position: absolute;
    top: -9999rem;
    left: -9999rem;
    opacity: 0;
}

body::after {
    content: url("https://donklanakin.github.io/quizie-quizie/public/images/card-cocoon.svg");
    position: absolute;
    top: -9999rem;
    left: -9999rem;
    opacity: 0;
}

button {
    background-color: #007BFF;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 200ms;
}

button:hover {
    background-color: #0056B3;
}

button:active {
    background-color: #04182d;
}

h1 {
    color: #0056B3;
    margin-bottom: 8px;
}

h4 {
    color: #0056B3;
}

#btn-auto-correct {
    background-color: #0bc211;
    transition: all 200ms;
}

#btn-auto-correct:hover {
    background-color: #067109;
}

#btn-auto-correct:active {
    background-color: #04182d;
}

#card-level {
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 10px rgba(8, 1, 21, 0.3);
    width: 286px;
    height: 400px;
    margin: 0;
    padding: 0;
    transition: all 200ms;
}

#card-level::before {
    content: url("https://donklanakin.github.io/quizie-quizie/public/images/card-magical-butterfly.svg");
    position: absolute;
    top: -9999rem;
    left: -9999rem;
    opacity: 0;
}

#card-level-summary {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(8, 1, 21, 0.3);
    width: 286px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    padding: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-width: 240px;
    min-height: 400px;
    padding: 0px 20px;
    margin: 0;
    text-align: left;
}

#quizie-sub-header {
    background-color: #ded9d9;
    color: #0056B3;
    font-weight: 400;
    padding: 2px 8px;
    border-radius: 6px;
}

#question {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 8px;
}

#options {
    text-align: left;
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}

#summary-container {
    margin-left: 40px;
}

#summary-result {
    background-color: #ded9d9;
    color: #0056B3;
    font-weight: 600;
    padding: 16px 8px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.buttons-container {
    align-self: flex-end;
}

.mt-m {
    margin-top: 40px;
}

.mt-s {
    margin-top: 20px;
}